## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# java specific
*.class

# gradle specific
build/
.gradle/

# intellij
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
out/

### Metals ###
.vscode
.metals/
.bloop/
project/**/metals.sbt
/project/target/*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### SBT Patch ###
.bsp/
